# Watson NLU configuration

NATURAL_LANGUAGE_UNDERSTANDING_IAM_APIKEY = ''
NATURAL_LANGUAGE_UNDERSTANDING_URL = ''
NATURAL_LANGUAGE_UNDERSTANDING_VERSION = '2019-07-12'

# Default SQLite DB will be found in application folder of project.
SQLALCHEMY_DATABASE_URI = 'sqlite:///./test.db'
SQLALCHEMY_TRACK_MODIFICATIONS = False
